body{
  background-image: url(../img/squaredots.jpg);
  background-size: cover;
  padding: 100px 0 140px 0;
  margin-bottom:70px;
  font-family: 'The Girl Next Door', cursive;
}
.jumbotron{
  color: #000;
  background-color: transparent !important;
  background-image: url(../img/brushstroke.png);
  background-size: cover;
  background-position: center;

}
h1{
  font-family: 'Kaushan Script', cursive;

  text-align: center;
}

p{
  font-family: 'The Girl Next Door', cursive;
  text-align: center;
}
 img{
   width: 100%;
   height: auto;
 }

 .banner{
   background-color: transparent;
   border-color: transparent;
   background-image: url('bluebanner.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   color: #000;
   font-size: 24px;
   font-family: 'The Girl Next Door', cursive;
 }

 .banner:hover{
   text-decoration: none;
 }

 .form-group{
   padding: 10px;
 }
/*.jumbotron h1{
  background-image: url(bluebanner.png);

}*/
